$fuente_principal: 'Open Sans',
sans-serif;
//colores
$anaranjado:#ff6c00;
$azul:#1a2e35;
$blanco:#fff;
$negro:#000;
$gris:#e1e1e1;
$grisO:#bdbdbd;
$grisOscuro: #333333;
//Tamaños de pantalla
$galaxyFold: 280px;
$duo:540px;
$telefono: 480px;
$tablet:768px;
$desktop:992px;
$desktopXL:1200px;